---
layout: default
---

{% include back_link.html %}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>
  
  {{ content }}
  <br><br>
  <p>Share :
    <a href="http://www.linkedin.com/shareArticle?url=https://simantaturja.github.io/{{ page.slug }} target='blank'"><i class="fab fa-linkedin-in"></i></a>
    <a href="http://www.facebook.com/sharer.php?u=https://simantaturja.github.io/{{ page.slug }}"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/intent/tweet?url=https://simantaturja.github.io/{{ page.slug }}"><i class="fab fa-twitter"></i></a></p>
</article>